<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension id="application" point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.ukhome.jsonviewer.Application"/>
      </application>
   </extension>
   
   <extension point="org.eclipse.ui.perspectives">
      <perspective
            class="org.ukhome.jsonviewer.perspective.JsonViewerPerspective"
            fixed="true"
            id="org.ukhome.jsonviewer.perspective"
            name="%perspective.name">
      </perspective>
   </extension>
   
   <extension point="org.eclipse.ui.views">
      <view
            category="org.ukhome.jsonviewer.view.category"
            class="org.ukhome.jsonviewer.view.JsonTreeView"
            id="org.ukhome.jsonviewer.view.JsonView"
            name="%view.name.jsontree">
      </view>
      <view
            allowMultiple="true"
            category="org.ukhome.jsonviewer.view.category"
            class="org.ukhome.jsonviewer.view.JsonTextView"
            id="org.ukhome.jsonviewer.view.JsonTextView"
            name="%view.name.jsontext">
      </view>
      <category
            id="org.ukhome.jsonviewer.view.category"
            name="JsonViewer">
      </category>
      <view
            category="org.ukhome.jsonviewer.view.category"
            class="org.ukhome.jsonviewer.view.DateUtilView"
            id="org.ukhome.jsonviewer.view.DateUtilView"
            name="%view.name.dateutil"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.ukhome.jsonviewer.preferences.RootPreferencePage"
            id="org.ukhome.jsonviewer.preferences.RootPreferencePage"
            name="JsonViewer">
      </page>
      <page
            category="org.ukhome.jsonviewer.preferences.RootPreferencePage"
            class="org.ukhome.jsonviewer.preferences.JsonPreferencePage"
            id="org.ukhome.jsonviewer.preferences.RootPreferencePage"
            name="json">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.ukhome.jsonviewer.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
