<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension id="application" point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.ukhome.jsonviewer.Application"/>
      </application>
   </extension>
   
   <extension point="org.eclipse.ui.perspectives">
      <perspective
            class="org.ukhome.jsonviewer.perspective.JsonViewerPerspective"
            name="%perspective.name"
            id="org.ukhome.jsonviewer.perspective">
      </perspective>
   </extension>
   
   <extension point="org.eclipse.ui.views">
      <view
            category="org.ukhome.jsonviewer.view.category"
            class="org.ukhome.jsonviewer.view.JsonTreeView"
            id="org.ukhome.jsonviewer.view.JsonView"
            name="%view.name.jsontree">
      </view>
      <view
            allowMultiple="true"
            category="org.ukhome.jsonviewer.view.category"
            class="org.ukhome.jsonviewer.view.JsonTextView"
            id="org.ukhome.jsonviewer.view.JsonTextView"
            name="%view.name.jsontext">
      </view>
      <category
            id="org.ukhome.jsonviewer.view.category"
            name="JsonViewer">
      </category>
   </extension>

</plugin>
